/.deps
/.vscode
/Makefile
/Makefile.in
/Makefile.manual
/aclocal.m4
/autom4te.cache
/btrbk.log
/config.log
/config.status
/configure
/infowin.glade~
/test-logs
/compile
/config.guess
/config.sub
/depcomp
/install-sh
/missing