/.deps
/.vscode
/src/.deps
/Makefile
/Makefile.in
/Makefile.manual
/aclocal.m4
/autom4te.cache
/btrbk.log
/config.log
/config.status
/configure
/infowin.glade~
/test-logs
/compile
/config.guess
/config.sub
/depcomp
/install-sh
/missing
src/btrbkgui
src/infowin.o
src/installdir.o
src/logfile.o
src/logmsg.o
src/logwatch.o
src/main.o
src/Makefile
src/Makefile.in
src/stateicon.o
src/.deps
src/tools.o
